.full-width, #container main section#content-article figure.header-image, img[src*="full"] {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

#container header {
  text-align: center;
  margin: 0;
  background-color: #c0c0c0;
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container main {
    width: auto;
    margin: 0 3em;
  }
}

#container main section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@supports (display: grid) {
  #container main section#content-home-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  #container main section#content-home-list ul li {
    box-shadow: 0 0 2px #000000;
  }
  #container main section#content-home-list ul li div.image {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background-size: cover;
  }
  #container main section#content-home-list ul li h2 {
    margin: 0 10px;
  }
  #container main section#content-home-list ul li time {
    margin: 5px 10px;
    display: block;
  }
  #container main section#content-home-list ul li p {
    margin: 5px 10px 10px;
  }
  #container main section#content-home-list ul li.first {
    grid-column: auto/span 3;
  }
  #container main section#content-home-list ul li.first div.image {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 10px 0 0;
  }
}

#container main section#content-home-meta {
  text-align: center;
  padding: 20px;
}

#container main section#content-list ul li time {
  display: block;
  float: right;
}

#container main section#content-article figure.header-image {
  min-height: 500px;
  z-index: -10;
  background-size: cover;
  margin-top: 0;
}

#container main section#content-article article {
  max-width: calc(700px - 2em);
  margin: -200px auto 10px;
  padding: 0 2em;
  background-color: #ffffff;
  z-index: 50;
}

#container footer {
  text-align: center;
  margin: 20px 0 0 0;
  background-color: #c0c0c0;
}

img {
  width: 100%;
}
