{{ partial "header.html" . }}

<section id="content-list">
    <h2>{{ .Title }}</h2>
        <ul>
          {{ range .Site.RegularPages.GroupByDate "2006/01" }}
          <h3>{{ .Key }}</h3>
          {{ range where .Pages "Section" "posts" }}
          
          <li>
            <p><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .Date.Format "Jan 2nd" }}
            </time>
          </p>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </section>

{{ partial "footer.html" . }}